#gameCanvas{
	float:none;
	border-style:solid;
	border-color:#000;
	border-width:2 px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	cursor:none;
}
#playerHealth{
	float:left;
	margin-left:50px;
}
@font-face {
    font-family: "sDAFS";
    src: url('./Assets/fonts/SDAFS/SDAFS.otf') format("opentype");
}
*{ 
    font-family: "sDAFS", Verdana, Tahoma;
}
