#gameCanvas{
	float:none;
	border-style:solid;
	border-color:#000;
	border-width:2 px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	cursor:none;
	-webkit-box-shadow: 0 0 40px red;
    -moz-box-shadow: 0 0 40px red;
    box-shadow: 0 0 40px red;
}
#title{
	font-size:30px;
	font-weight:1500;
}
#hudList{
	font-size:25px;
	float:left;
	margin-left:50px;
}
#playerHealth{
	list-style-image: url('./Assets/images/heart.png');
}
#playerAmmo{
	list-style-image: url('./Assets/images/gun.png');
}
#playerStamina{
	list-style-image: url('./Assets/images/lightning.png');
}
@font-face {
    font-family: "sDAFS";
    src: url('./Assets/fonts/SDAFS/SDAFS.otf') format("opentype");
}
*{ 
    font-family: "sDAFS", Verdana, Tahoma;
}
